img {
    cursor: pointer;
    height: 250px;
    width: 130px;
    margin: 10px; /* Ajout d'une marge entre les cartes */
    box-shadow: 3px 3px 6px #222; /* Ajout d'ombre pour un effet 3D */
    border-radius: 10px; /* Bordures arrondies */
} 

table {
    margin: auto;
    border-collapse: separate;
    border-spacing: 5px; /* Espacement entre les cartes */
}

body {
    background-color: #333; /* Couleur de fond plus douce que le noir pur */
    color: #fff; /* Couleur de texte en blanc pour contraste */
    font-family: Arial, sans-serif; /* Police de caractère plus lisible */
}

#score {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    color: #ffd700; /* Couleur dorée pour le score */
}
