/* Image */
img {
    cursor: pointer;
    height: 250px;
    width: 130px;
    margin: 9px; /* Ajout d'une marge entre les cartes */
    transition: transform 0.6s, box-shadow 0.5s; /* Ajout de la transition pour l'effet */
    transform-style: preserve-3d;
    position: relative;
} 

img:hover {
    transform: scale(1.05); /* Légère augmentation de taille au survol */
    box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.6); /* Ombre portée */
}

img.front {
    transform: rotateY(180deg);
}

img.back {
    transform: rotateY(0deg);
}

img.trouvee {
    border: 3px solid green; /* Bordure verte pour une paire trouvée */
}

img.non-trouvee {
    border: 3px solid red; /* Bordure rouge pour une paire non trouvée */
}


/* Table */
table {
    margin: auto;
    border-collapse: separate;
    border-spacing: 5px; /* Espacement entre les cartes */
}

/* Body */
body {
    background-color: #333; /* Couleur de fond plus douce que le noir pur */
    color: #fff; /* Couleur de texte en blanc pour contraste */
    font-family: Arial, sans-serif; /* Police de caractère plus lisible */
}

/* Score */
#score {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    color: #ffd700; /* Couleur dorée pour le score */
}

/* Boutton */
button#rejouer {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: #4CAF50;
}

button#rejouer:hover {
    background-color: #45a049;
}
